---
---

@import "{{ site.theme }}";

.sr-index {
  z-index: 1080;
}

.sr-only-focusable {
  &:focus {
    background-color: #f8f9fa;
  }
  &:active {
    background-color: #f8f9fa;
  }
}

.btn-success {
  color: #fff;
  background-color: #4cb249;
  border-color: #28a745;
  &:hover {
    color: #fff;
    background-color: #4cb249;
    border-color: #1e7e34;
  }
  &:focus, &.focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  &:focus, &.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
}

.social-share-sticky .dropdown-menu-multi {
  transform: translate3d(58px, 0px, 0px);
  top: -35% !important;
  left: 0% !important;
}

@media (min-width: 992px) {
  .social-share-sticky .dropdown-menu-multi {
    top: 0% !important;
  }
}
